{% include base_path %}

<div class="page__footer-follow">
  <ul class="social-icons">
      <li><a title="Contact" href="/contact/"><i class="fas fa-envelope"></i> Contact</a></li>
      <li><a title="Blog" href="/blog/"><i class="fas fa-link"></i> Blog</a></li>
      <li><a title="LinkedIn" href="https://www.linkedin.com/in/antoinesoetewey/" target="_blank" rel="noopener"><i class="fab fa-linkedin-in" aria-hidden="true"></i> LinkedIn</a></li>
    {% if site.twitter.username %}
      <li><a title="Twitter" href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> Twitter</a></li>
    {% endif %}
    <!---{% if site.facebook.username %}
      <li><a title="Facebook" href="https://facebook.com/{{ site.facebook.username }}" target="_blank" rel="noopener"><i class="fab fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
    {% endif %}--->
    {% if site.author.github %}
      <li><a title="GitHub" href="http://github.com/{{ site.author.github }}" target="_blank" rel="noopener"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a title="Bitbucket" href="http://bitbucket.org/{{ site.author.bitbucket }}" target="_blank" rel="noopener"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.author.researchgate %}
      <li><a title="ResearchGate" href="https://www.researchgate.net/profile/{{ author.researchgate }}" target="_blank" rel="noopener"><i class="fab fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
    {% endif %}
      <!---<li><a title="RSS feed" href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" target="_blank" rel="noopener"><i class="fas fa-rss" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>--->
      <li><a title="Sitemap" href="/sitemap/"><i class="fas fa-sitemap"></i> Sitemap</a></li>
  </ul>
  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.url }}">{{ site.name | default: site.title }}</a> | <a title="Terms" href="/terms/">Terms</a></div>