---
---

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

// html, html[data-theme="light"], {
//   --text-color: hsl(0, 0%, 35%);
//   --background-color: hsl(0, 5%, 95%);
//   --text-color: hsl(0, 0%, 0%);
// }

// html[data-theme="dark"] {
//   --text-color: hsl(0, 0%, 60%);
//   --background-color: hsl(0, 0%, 10%);
//   --text-color: hsl(0, 10%, 80%);
// }

html, html[data-theme="light"], {
  filter: invert(0%);
}

// html[data-theme="dark"] {
//   background-color: #171717 !important;
// }

html[data-theme="dark"] {
  // filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
  // -webkit-filter: invert(100%) hue-rotate(180deg) brightness(105%) contrast(85%);
  filter: invert(100%);
}
// body {
//   background-color: #FFF !important;
// }
// img,
// video,
// body * [style*="background-image"] {
//   filter: hue-rotate(180deg) contrast(100%) invert(100%);
//   -webkit-filter: hue-rotate(180deg) contrast(100%) invert(100%);
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     content: "dark";
//   }
// }